.adWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-image: url("../assets/ad/ad.webp");
  background-position: center;
  background-size: cover;
  padding: 8rem 6rem;
  border: 1px solid #262626;

  border-radius: 1.2rem;
}

.adInfo {
  display: flex;
  flex-direction: column;
}

.adInfo > h2 {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 700;
}

.adInfo > p {
  color: var(--Grey-60);
  font-size: 1.6rem;
  font-weight: 400;
}

@media screen and (max-width: 1274px) {
  .adWrap {
    padding: 4rem 3rem;
    gap: 1.2rem;
  }

  .adInfo > h2 {
    font-size: 2.4rem;
  }

  .adInfo > p {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 1024px) {
  .adWrap {
    padding: 3.6rem 2rem;
  }

  .adInfo > h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .adWrap {
    padding: 3rem 2rem;
    flex-direction: column;
  }

  .adInfo {
    align-items: center;
    text-align: center;
    gap: 0.6rem;
  }

  .adInfo > h2 {
    font-size: 1.4rem;
  }

  .adInfo > p {
    font-size: 1.3rem;
  }
}
