.cardContainer {
  flex: 1 1 40rem;
  display: flex;
  gap: 2.4rem;
  flex-direction: column;
  padding: 40px;
  border-radius: 10px;
  border: 1px solid var(--Black-15, #262626);
  background: linear-gradient(
      222deg,
      rgba(229, 0, 0, 0.5) -208.03%,
      rgba(229, 0, 0, 0) 41.32%
    ),
    #0f0f0f;
}

.cardDevice {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.cardDevice > h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}

.cardDevice > img {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid var(--Black-12);
  background: var(--Black-08);
}

.cardContainer > p {
  color: var(--Grey-60);
  font-size: 1.6rem;
  font-weight: 400;
}

@media screen and (max-width: 1274px) {
  .cardContainer {
    padding: 2.8rem;
  }

  .cardContainer > p {
    font-size: 1.5rem;
  }

  .cardDevice > img {
    width: 4.8rem;
    height: 4.8rem;
  }

  .cardDevice > h3 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1024px) {
  .cardContainer {
    padding: 2rem;
    gap: 1.4rem;
  }

  .cardDevice > img {
    width: 4.2rem;
    height: 4.2rem;
  }
}

@media screen and (max-width: 768px) {
  .cardContainer {
    padding: 1.8rem;
    gap: 1.2rem;
  }

  .cardDevice > img {
    height: 3rem;
    width: 3rem;
    padding: 6px;
  }

  .cardDevice > h3 {
    font-size: 1.4rem;
  }

  .cardContainer > p {
    font-size: 1.3rem;
  }
}
