.footerWrap {
  width: 100%;
  background: var(--Black-06);
  padding: 8rem 8rem 4rem 8rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footerPage {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footerPage > h2 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
}

.footerUl {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footerLi {
  list-style: none;
}

.footerLi > a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--Grey-60);
  cursor: pointer;
}

.footerCopyright {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  border-top: 1px solid #262626;
}

.owner {
  letter-spacing: 1.8px;
}

.owner,
.claim > p {
  color: var(--Grey-60);
  font-size: 1.4rem;
  font-weight: 400;
}

.claim {
  display: flex;
  gap: 1.6rem;
}

.claim > p {
  cursor: pointer;
}

.connect {
  flex-direction: row;
}

.connect > li {
  padding: 1.2rem;
  border-radius: 6px;
  border: 1px solid var(--Black-15);
  background: var(--Black-10);
}

.connect > li > a > svg {
  color: #fff;
}

@media screen and (max-width: 1274px) {
  .footerPage > h2 {
    font-size: 1.6rem;
  }

  .footerLi > a {
    font-size: 1.5rem;
  }

  .connect > li {
    padding: 0.8rem;
  }

  .owner,
  .claim > p {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1024px) {
  .footerWrap {
    padding: 8rem 8rem 4rem 4rem;
  }

  .footerPage > h2 {
    font-size: 1.4rem;
  }

  .footerLi > a {
    font-size: 1.4rem;
  }

  .connect > li {
    padding: 0.4rem;
  }

  .claim {
    gap: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .footerWrap {
    padding: 2rem;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 2.4rem;
  }

  .footerPage {
    align-items: center;
  }

  .footerUl {
    align-items: center;
  }

  .footerPage > h2 {
    font-size: 1.3rem;
  }

  .footerLi > a {
    font-size: 1.3rem;
  }

  .connect > li > a > svg {
    width: 2rem;
    height: 2rem;
  }

  .footerCopyright {
    flex-direction: column;
    gap: 1rem;
  }

  .owner {
    font-size: 1.1rem;
  }

  .claim > p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 528px) {
  .footer {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }
}
