.movieImg {
  border-radius: 8px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
}

.info > h2 {
  margin-top: auto;
  color: var(--Grey-75);
  font-size: 1.4rem;
  letter-spacing: 0.6px;
  text-align: center;
}

.detail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  border-radius: 8px;
  background: var(--Black-08);
  padding: 6px 1rem;
  padding-left: 6px;
}

.detail > svg {
  width: 2.4rem;
  height: 2.4rem;
}

.detail > h3 {
  font-size: 1.4rem;
  color: var(--Grey-65);
  white-space: nowrap;
}

.calendarIcon {
  color: var(--Grey-65);
}

.starIcon {
  color: gold;
}

@media screen and (max-width: 1024px) {
  .info > h2,
  .detail > h3 {
    font-size: 1.3rem;
  }

  .detail > svg {
    width: 1.8rem;
    height: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  .detail {
    padding: 6px;
  }

  .info > h2,
  .detail > h3 {
    font-size: 1.2rem;
  }

  .detail > svg {
    width: 1.6rem;
    height: 1.6rem;
  }
}
