.wrap {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--Black-15);
  border-radius: 12px;
  padding: 5rem;
  gap: 5rem;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title > h2 {
  color: #fff;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 150%; /* 57px */
}

.navIcons {
  display: flex;
  padding: 1.6rem;
  align-items: center;
  gap: 1.6rem;
  border-radius: 12px;
  border: 1px solid var(--Black-12, #1f1f1f);
  background: var(--Black-06, #0f0f0f);
}

.navIcons > button {
  padding: 1.4rem;
  border-radius: 8px;
  border: 1px solid var(--Black-12, #1f1f1f);
  background: var(--Black-10, #1a1a1a);
  cursor: pointer;
}

.navIcons > button > svg {
  width: 28px;
  height: 28px;
  color: #fff;
}

.cardWrapper {
  display: flex;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  padding: 1.4rem 2rem;
  gap: 20px;
  border-radius: 12px;
  border: 1px solid var(--Black-15);
  background: var(--Black-10);
  cursor: pointer;
}

.pageIndicator {
  display: flex;
  gap: 5px;
}

.pageIndicator span {
  color: #aaa;
  width: 2.3rem;
  height: 4px;
  border-radius: 10rem;
  background: var(--Black-20);
}

.pageIndicator .activePage {
  background: var(--Red-45);
}
