.wrapper,
.logo,
.navigation > ul,
.icons {
  display: flex;
}

.wrapper {
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 8% 0;
  z-index: 10;
}

.scrolled {
  background-color: var(--Black-06);
  opacity: 0.95;
  padding: 2rem 8%;
}

.logo {
  gap: 4px;
}

.navigation {
  padding: 1.8rem 2rem;
  align-items: center;
  border-radius: 1rem;
  border: 3px solid var(--Black-12);
  background: var(--Black-06);
}

.navigation > ul {
  gap: 1.6rem;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.navigation > ul > li {
  list-style: none;
}

.nav {
  color: var(--Grey-75);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.homeNav {
  width: 100%;
  z-index: 2;
}

.active {
  color: #fff;
  padding: 1.2rem 2rem;
  border-radius: 8px;
  border: 1px solid var(--Black-10, #1a1a1a);
  background: var(--Black-10, #1a1a1a);
}

.icons {
  gap: 1.4rem;
  justify-content: flex-end;
  align-items: center;
}

.searchBar {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.4rem;
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: var(--Black-06);
  opacity: 0;
}

.searchBar > input {
  color: #fff;
  background-color: transparent;
  font-size: 1.4rem;
  border: none;
  outline: none;
}

.inputOnFocus {
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.searchBar > svg,
.icons > svg {
  height: 2.4rem;
  width: 2.4rem;
  color: #fff;
}

.icons > svg {
  cursor: pointer;
}

.mobileWrap {
  height: 100vh;
  width: 100vw;
}

.mobileLogo {
  align-self: start;
}

.mobileNav {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  border: none;
  width: 100vw;
  height: 100vh;
}

.mobileNav > .mobileUl {
  flex-direction: column;
  align-items: center;
  font-size: 2.4rem;
  gap: 3.2rem;
}

.mobileUl > li > a {
  font-size: 1.6rem;
}

.mobileIcons > svg {
  align-self: center;
}

.closeIcon {
  position: absolute;
  top: 4.2rem;
  right: 6.2rem;
  z-index: 10;
}

@media screen and (max-width: 1274px) {
  .homeNav {
    padding: 2.4rem 6rem;
  }

  .nav {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1024px) {
  .homeNav {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    height: 2.4rem;
  }

  .searchBar {
    padding: 5px;
    gap: 5px;
  }

  .icons {
    gap: 1rem;
  }

  .searchBar > svg,
  .icons > svg {
    width: 1.8rem;
    height: 1.8rem;
  }

  .searchBar > input {
    font-size: 1.2rem;
  }
}
