.resultPage {
  padding: 0 8rem;
}

.card {
  padding: 4rem 4rem 1.6rem 4rem;
  border-radius: 1.2rem;
  border: 1px solid #262626;
  position: relative;
  height: 70rem;
}

.cardTitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 2.4rem;
}

.title {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4rem;
  gap: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--Black-15);
  background: var(--Black-10);
}

.descriptionTitle {
  color: var(--Grey-60, #999);
  font-family: Manrope;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}

.descriptionText {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
}

/* INFORMATION */

.allInfoContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
}

.allDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4rem;
  gap: 2.4rem;
  border-radius: 1rem;
  border: 1px solid var(--Black-15);
  background: var(--Black-10);
}

.infoWrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.infoTitle {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--Grey-60);
  font-size: 1.6rem;
  font-weight: 500;
}

.infoTitle > svg {
  width: 2.4rem;
  height: 2.4rem;
}

.releaseYear {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}

.languagesWrap {
  display: flex;
  gap: 0.4rem;
}

.language,
.genres {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid var(--Black-15);
  background: var(--Black-08);

  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
}

.ratingsWrap {
  display: flex;
  align-items: center;
  padding: 1.4rem;
  border-radius: 8px;
  border: 1px solid var(--Black-15);
  background: var(--Black-08);
  gap: 2px;
}

.ratingsWrap > svg {
  width: 2rem;
  height: 2rem;
  color: var(--Red-45);
}

.ratingsScore {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
}

.genresWrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.error {
  color: var(--Red-45);
  font-size: 1.4rem;
  text-align: center;
}

.noRecommendations {
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

.videoContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.videoContainer iframe {
  /* Extend it beyond the viewport... */
  width: 300%;
  height: 100%;
  /* ...and bring it back again */
  margin-left: -100%;
}

.noPad {
  padding: 0;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 1.4rem 2.4rem;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
  pointer-events: all;
  font-size: 1.4rem;
}

.closeButton:hover {
  background: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 1024px) {
  .allDetails {
    padding: 2.4rem;
  }

  .infoTitle > svg {
    height: 2rem;
    width: 2rem;
  }

  .infoTitle > h3 {
    font-size: 1.6rem;
  }

  .ratingsWrap > svg {
    width: 1.6rem;
    height: 1.6rem;
  }
}

@media screen and (max-width: 768px) {
  .card {
    height: 50rem;
  }

  .title {
    font-size: 2.4rem;
  }

  .descriptionTitle,
  .descriptionText {
    font-size: 1.4rem;
  }

  .allDetails {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }

  .allInfoContainer {
    display: flex;
    flex-direction: column;
  }
}
