.cardWrapper {
  display: flex;
  flex-direction: column;
  padding: 40px;
  align-items: flex-start;
  gap: 40px;
  border-radius: 10px;
  border: 1px solid var(--Black-15);
  background: var(--Black-10);
}

.cardTitles {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.cardTitles > h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}

.cardTitles > p,
.cardPrice > span {
  color: var(--Grey-60);
  font-size: 1.6rem;
  font-weight: 400;
}

.cardPrice {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.cardPrice > h3 {
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
}

.cardButtons {
  display: flex;
  gap: 1.2rem;
}

.cardButtons > button {
  padding: 1.4rem 2rem;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 1.4rem;
  font-weight: 600;

  transition: background 0.3s, transform 0.3s;
}

.trialButton {
  border: 1px solid var(--Black-15);
  background: var(--Black-08);
}

.planButton {
  background: var(--Red-45);
}

.trialButton:hover,
.planButton:hover {
  background: var(--Red-50);
  transform: scale(1.03);
}

.trialButton:hover {
  background: var(--Grey-06);
}
