.faqTitles {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.planButtons {
  display: flex;
  padding: 10px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--Black-15);
  background: var(--Black-06);
}

.monthButton,
.yearButton {
  padding: 1.2rem 2rem;
  border-radius: 1rem;
  border: none;
  color: var(--Grey-60, #999);
  background: transparent;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.active {
  background: var(--Black-12);
  color: #fff;
}

.subscriptionCards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

@media screen and (max-width: 1274px) {
  .planButtons {
    padding: 8px;
  }
  .planButtons > button {
    padding: 1rem 1.6rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .planButtons > button {
    padding: 1rem 1.4rem;
    font-optical-sizing: 1.4rem;
  }
}

@media screen and (max-width: 768px) {
  .faqTitles {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2rem;
  }
  .planButtons {
    padding: 6px;
  }

  .planButtons > button {
    padding: 1rem 1.4rem;
    font-size: 1.2rem;
  }
}
