/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --Red-99: #fffafa; /* Lightest */
  --Red-95: #ffe5e5;
  --Red-90: #ffcccc;
  --Red-80: #ff9999;
  --Red-60: #ff3333;
  --Red-55: #ff1919; /* Base */
  --Red-50: #ff0000;
  --Red-45: #e50000; /* Darkest */

  --Black-30: #4c4c4c; /* Very light black (greyish) */
  --Black-25: #404040;
  --Black-20: #333333;
  --Black-15: #262626;
  --Black-12: #1f1f1f;
  --Black-10: #1a1a1a; /* Base */
  --Black-08: #141414;
  --Black-06: #0f0f0f; /* Pure black */

  --Grey-99: #fcfcfd;
  --Grey-97: #f7f7f8;
  --Grey-95: #f1f1f3;
  --Grey-90: #e4e4e7;
  --Grey-75: #bfbfbf;
  --Grey-70: #b3b3b3; /* Base */
  --Grey-65: #a6a6a6;
  --Grey-60: #999999;

  --font-family-main: "Manrope", serif;
}

body {
  font-family: var(--font-family-main);
  background: var(--Black-08);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* overflow-x: hidden !important; */
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

.bodyNoScroll {
  overflow: hidden;
}

.section {
  padding: 6.2rem 8rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 15rem;
}

.sectionTitle > h2 {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 700;
}

.sectionTitle > p {
  color: var(--Grey-60);
  font-size: 1.6rem;
  font-weight: 400;
}

.redButton {
  padding: 1.4rem 2rem;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 1.4rem;
  font-weight: 600;
  background: var(--Red-45);

  transition: background 0.3s, transform 0.3s;
}

.redButton:hover {
  background: var(--Red-50);
  transform: scale(1.03);
}

.welcomeButton > button {
  display: flex;
  padding: 14px 24px;
  align-items: center;
  gap: 4px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background: var(--Red-45);
  color: #fff;
  font-size: 1.4rem;
  transition: background 0.3s, transform 0.3s;
}

.welcomeButton > button:hover {
  background: var(--Red-50);
  transform: scale(1.03);
}

.welcomeButton > button > svg {
  width: 2.4rem;
  height: 2.4rem;
}

.flag-dropdown {
  background-color: inherit !important;
  border: 1px solid var(--Black-15) !important;
}

.selected-flag,
.selected-flag:hover,
.selected-flag:focus {
  background-color: inherit !important;
}

.country-list {
  background: var(--Black-08) !important;
  scrollbar-color: var(--Black-15) !important;
}

.country {
  color: #fff;
}

.country:hover {
  background-color: var(--Black-15) !important;
}

.react-tel-input .country-list .country.highlight {
  background-color: var(--Black-15) !important;
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: var(--Red-50);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1274px) {
  .section {
    padding: 6rem;
  }

  .sectionTitle > h2 {
    font-size: 2.4rem;
  }

  .redButton {
    white-space: nowrap;
    padding: 1.2rem 1.6rem;
  }

  .welcomeButton > button {
    padding: 1.2rem 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .welcomeButton > button {
    padding: 1rem 1.4rem;
    font-size: 1.2rem;
  }

  .section {
    gap: 2.8rem;
    padding: 4rem;
  }

  .sectionTitle {
    padding-right: 10rem;
  }

  .sectionTitle > h2 {
    font-size: 2rem;
  }

  .sectionTitle > p {
    font-size: 1.4rem;
  }

  .redButton {
    padding: 1rem 1.4rem;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 768px) {
  .section {
    padding: 2.8rem 2rem;
  }

  .welcomeButton > button {
    padding: 0.8rem 1.2rem;
    font-size: 1.1rem;
  }

  .sectionTitle {
    padding-right: 2rem;
  }

  .sectionTitle > h2 {
    font-size: 1.6rem;
  }

  .sectionTitle > p {
    font-size: 1.3rem;
  }

  .redButton {
    padding: 1rem 1.1rem;
    font-size: 1.2rem;
  }

  .react-tel-input > .form-control {
    padding: 1rem;
  }
}
