/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --Red-99: #fffafa; /* Lightest */
  --Red-95: #ffe5e5;
  --Red-90: #ffcccc;
  --Red-80: #ff9999;
  --Red-60: #ff3333;
  --Red-55: #ff1919; /* Base */
  --Red-50: #ff0000;
  --Red-45: #e50000; /* Darkest */

  --Black-30: #4c4c4c; /* Very light black (greyish) */
  --Black-25: #404040;
  --Black-20: #333333;
  --Black-15: #262626;
  --Black-12: #1f1f1f;
  --Black-10: #1a1a1a; /* Base */
  --Black-08: #141414;
  --Black-06: #0f0f0f; /* Pure black */

  --Grey-99: #fcfcfd;
  --Grey-97: #f7f7f8;
  --Grey-95: #f1f1f3;
  --Grey-90: #e4e4e7;
  --Grey-75: #bfbfbf;
  --Grey-70: #b3b3b3; /* Base */
  --Grey-65: #a6a6a6;
  --Grey-60: #999999;

  --font-family-main: "Manrope", serif;
}

body {
  font-family: var(--font-family-main);
  background-color: #000;
}

html {
  font-size: 62.5%;
}
